<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card>
      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" [(ngModel)]="amount">
      </mat-form-field>
      <mat-form-field>
        <mat-label>From</mat-label>
        <mat-select [(ngModel)]="fromUnit">
          <mat-option value="m">Meter (m)</mat-option>
          <mat-option value="yd">Yard (yd)</mat-option>
          <mat-option value="in">Inch (in)</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To</mat-label>
        <mat-select [(ngModel)]="toUnit">
          <mat-option value="m">Meter (m)</mat-option>
          <mat-option value="yd">Yard (yd)</mat-option>
          <mat-option value="in">Inch (in)</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="convert()">Convert</button>
      <div *ngIf="result">
        <p>{{amount}} {{fromUnit}} = {{result | number:'1.2-2'}} {{toUnit}}</p>
      </div>
    </mat-card>
  </div>
  